body{
    background-color: #FEFAE0;
    font-family: 'Anonymous Pro', monospace;
}

.navbar{
    z-index: 9999;
    background-image: linear-gradient(to bottom, rgba(96, 108, 56, 1) 5%, rgba(254, 250, 224, 1) 35%, rgba(221, 161, 94, 1) 95%);
    border-radius: 0 0 10px 10px;
}
    .navbar-logo{
        width: 45px;
        height: 50px;
    }

    .navbar a.nav-link{
        color: #606C38;
        margin: 0 6px;
    }

    .navbar a.nav-link.active{
        color: #283618;
        font-weight: bolder;
    }

    .navbar a.nav-link.active::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #283618;
        animation: animacaoLinksNav 0.7s ease-in-out;
    }

    .redes-sociais{
        background-color: #606C38;
        overflow: hidden;
        box-shadow: 4px 4px 14px;
    }
    
    .redes-sociais-link{
        color: #FEFAE0;
        transition: transform 0.3s ease-in-out;
    }
    
    .redes-sociais-link:hover{
        background-color: #FEFAE0;
        color: #606C38;
        font-weight: bolder;
        transform: scale(1.15);
        box-shadow: 14px 14px 14px;
    }

/*Estilos da pagina index*/
.hero{
    height: 185px;
    width: 95%;
    margin: 24px auto;
    background-image: url(images/img3.jpg);
    background-size: cover;
    background-repeat: none;
    border-radius: 10px;
    opacity: .7;
    color: #FEFAE0;
    justify-content: center;
    box-shadow: 5px 8px 10px;

    animation: fadeIn 2s ease-in-out;
}

    .hero .hero-title h2{
        width: 80%;
        padding-top: 40px;
        opacity: 1;
        font-size: 2em;
        font-weight: bolder;
    }

    .hero .hero-text{
        padding-top: 40px;
        font-size: 1.3em;
    }


.top-books-slider{
    width: 95%;
    height: 400px;
    margin: 44px auto;
    border-radius: 10px;
    
}

    .border-class{
        border-radius: 10px;
        box-shadow: 5px 8px 10px;
    }

    .slider-content{
        background-color: #606C38;
    }

    .book-img{
        padding: 30px 40px;
        margin: 0 auto;
        height: 400px;
        width: 250px;
    }

        .book-img img{
            width: 100%;
            height: 100%;
        }

    .book-content{
        margin: 30px auto;
        color: #FEFAE0;
    }

        .book-content h3{
            font-weight: bold;
        }

        .book-author{
            margin: 10px 0;
        }

            .book-author .author-name{
                margin: auto 0;
                font-size: 1.2em;
                color: #FEFAE0;
                font-weight: bold;
            }
        
            .book-author .img-author{
                border-radius: 50%;
                width: 100px;
                height: 100%;
            }
        
        .book-content .topics{
            color: #e6ad6d;
            font-weight: bold;
        }


.authors-section {
    background-color: #FEFAE0;
    padding: 40px 0;
    
}

    .authors-section h2 {
        color: #DDA15E;
        font-weight: bolder;
    }

.author-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 4px;
    transition: transform 0.3s ease-in-out;
}

.author-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author-circle:hover {
    transform: scale(1.2);
}

.author-info {
    width: 90%;
    height: 300px;
    margin: 0 auto;
    background-color: #DDA15E;
    padding: 20px;
    border-radius: 10px;
    color: #283618;
    text-align: center;
    box-shadow: 5px 8px 10px #282e24;
}

    .author-info .top-author-name{
        font-weight: bold;
        color: #FEFAE0;
    }

    .author-info ul{
        list-style: none;
    }

        .author-info li span{
            color: #FEFAE0;
            font-weight: 600;
        }

    .author-info .top-author-funcao{
        color: #FEFAE0;
        font-weight: 600;
        font-size: 1.2em;
    }
    
    .depoimentos-container{
        margin: 0 auto;
        margin-bottom: 20px;
        width: 95%;
        text-align: center;
        border-radius: 10px;
        padding: 5px;
    }

    .depoimentos-container h2{
        color: #DDA15E;
        font-weight: bolder;
    }

    .depoimentos-container .card-depoimento{
        color: #FEFAE0;
        border: 2px solid #DDA15E;
        background-color: #283618;
        border-radius: 10px;
        margin: 0 auto;
        padding: 5px 10px;
    }

    .card-depoimento .depoiment-img-container{
        margin: 0 auto;
        width: 70px;
        height: 70px;
    }
    
    .card-depoimento .depoiment-img-container img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
    
    .depoiment-title p{
        color: #DDA15E;
    }
    
/*Footer Inicio*/

.footer {
    background-color: #282e24; 
    color: #FEFAE0; 
    padding-top: 30px; 
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
    
.inspirational-quote {
    font-style: italic;
    color: #DDA15E;
    font-size: 16px;
}
    
.rights-reserved,
.estcb {
    font-size: 0.9em;
    margin: 5px 0;
}
    
.contactos{
    color: #DDA15E;
    font-size: 0.8em;
}
    
.rights-reserved{
    text-align: center;
}
    
.address a {
    color: #FEFAE0; 
}

/*Footer Inicio*/
    
    
@media (max-width: 640px) {
    .hero .hero-title h2 {
        width: 100%;
        padding-top: 20px;
        font-size: 1.5em; 
    }
    .hero .hero-text{
        padding-top: 5px;
        font-size: 1em;
    }

    .book-content{
        font-size: 0.8em;
    }

        .book-author .img-author{
            width: 75px;
        }

}    

@media (max-width: 768px) {
    .book-img{
        display: none;
    }

    .author-circle {
        width: 50px;
        height: 50px;
        margin: 1px 0;
    }

    .author-info{
        height: 360px;
        font-size: 0.9em;
    }

        .author-info li{
            text-align: left;
        }

        .author-info li span{
            color: #FEFAE0;
            font-weight: 400;
        }

    .rights-reserved,
    .estcb {
        font-size: 0.8em;
        margin: 5px 0;
    }

    .contactos{
    font-size: 0.7em;
    }
}

    
@keyframes animacaoLinksNav {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

    /*Animacoes index*/

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 0.7;
        }
    }

    /*Animacoes index*/

/*Estilos da pagina index*/


/*Estilos da pagina autor*/

.sobreMim-container{
    color: #283618;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    height: 580px;

    opacity: 0; /* Inicia com opacidade 0 para a animação de fade-in */
    animation: fadeIn 1.5s ease-out forwards;
}

.sobreMim-header {
    margin: 15px 0;
}

.sobreMim-img-container{
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

.sobreMim-img-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.sobreMim-content{
    text-align: left;
}

.quote-jonnhy{
    display: none;
}

.sobreMim-table{
    width: 65%;
    margin: 20px auto;
    padding: 8px 10px;
    background-color: #606C38;
    color: #DDA15E;
    font-weight: bold;
    border: 2px solid #DDA15E;
    border-radius: 10px;
    box-shadow: 5px 8px 10px #a2641d;

    transform: translateX(-50px); /* Inicia com deslocamento para a animação de slide-in */
    opacity: 0; /* Inicia com opacidade 0 para a animação de fade-in */
    animation: slideIn 1.5s ease-out forwards, fadeIn 1.5s ease-out forwards;
}

    .sobreMim-container h2{
        font-weight: bolder;
        color: #DDA15E;
    }

@media (max-width: 768px) {
    .sobreMim-container{
        height: auto;
    }

    .sobreMim-header p{
        font-size: 0.8em;
    }

    .sobreMim-table{
        font-size: 0.8em;
        width: 100%;
    }

    .quote-jonnhy{
        display: block;
        font-weight: bolder;

        opacity: 0; /* Inicia com opacidade 0 para a animação de fade-in */
        animation: fadeIn 1.5s ease-out forwards;
    }
}

    /*Animacoes author page*/

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    @keyframes slideIn {
        from {
            transform: translateX(-50px);
        }
        to {
            transform: translateX(0);
        }
    }

    /*Animacoes author page*/

/*Estilos da pagina autor*/

/*Estilos da pagina listarItems*/

.listarItems{
    width: 90%;
    margin: 50px auto;
}

    .listarItems h2{
        text-align: center;
        color: #DDA15E;
    }

    .book-card {
        width: 320px;
        margin: 20px auto;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #DDA15E;
        box-shadow: 5px 8px 10px;
    }

    .img-card-container{
        text-align: center;
        margin: 0 auto; 
    }
    
    .img-card-container img {
            max-width: 100%;
            height: 200px;
            border-radius: 5px;
        }
        
        .book-info {
            text-align: center;
            margin-top: 15px;
            height: 100%;
        }
        
        
        .book-title {
            font-size: 1.2em;
            font-weight: bold;
            color: #FEFAE0;
        }
        
        .book-author {
            margin-top: 8px;
            font-size: 0.9em;
            color: #606C38;
        }
        
        .book-rating {
            margin-top: 8px;
            font-size: 0.9em;
            color: #606C38;
        }
        
        .book-description {
            margin-top: 15px;
            font-size: 0.9em;
            color: #FEFAE0;
            margin-bottom: 20px;
        }

        .book-info a{
            display: inline-block;
            text-decoration: none;
            margin-top: 10px;
            padding: 2px 8px;
            background-color: #DDA15E;
            color: #FEFAE0;
            font-weight: bold;
            border-radius: 8px;
            border: 3px solid #606C38;
            transition: transform 0.3s ease-in-out;
        }
        
        .book-info a:hover{
            color: #DDA15E;
            background-color: #FEFAE0;
            border: 3px solid #606C38;
            transform: scale(1.2);
            font-weight: bolder;
        }


/*Estilos da pagina listarItems*/

/*Estilos da pagina detalhesItem*/

.detalhesItens-title{
    text-align: center;
    margin-top: 50px;
    color: #DDA15E;
}

.detalhes-livro-container {
    width: 90%;
    margin: 50px auto;
}

.detalhes-livro-card {
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #DDA15E;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 5px 8px 10px;
}

.detalhes-livro-img {
    text-align: center;
    
}

    .detalhes-livro-img img{
        margin-top: 40px;
        border-radius: 10px;
        max-width: 100%;
        height: 200px;
    }

.detalhes-livro-info {
    text-align: center;
    padding: 20px;
}

.detalhes-livro-title {
    color: #FEFAE0;
    margin-top: 15px;
}

.detalhes-livro-text {
    color: #FEFAE0;
}

.expand-btn{
    margin-top: 10px;
    padding: 2px 8px;
    background-color: #DDA15E;
    color: #FEFAE0;
    font-weight: bold;
    border-radius: 8px;
    border: 3px solid #606C38;
    transition: transform 0.3s ease-in-out;
}

.expand-btn:hover {
    color: #DDA15E;
    background-color: #FEFAE0;
    border: 3px solid #606C38;
    transform: scale(1.2);
    font-weight: bolder;
}

.expand-container{
    padding: 20px 80px;
}

.detalhes-livro-text strong{
    color: #606C38;
}

@media (max-width: 768px) {
    .expand-container{
        padding: 20px 15px;
    }

    .detalhes-livro-card {
        width: 100%;
    }
}

/*Estilos da pagina detalhesItem*/

/*Estilos Onde Estamos*/

.video-container{
    text-align: center;
    margin: 50px auto;
}

.video video{
    width: 100%;
    height: auto;
    max-width: 850px;
    border-radius: 10px;
    box-shadow: 5px 8px 10px;
}

.audio-container{
    width: 100%;
    height: auto;
    max-width: 850px;
    border-radius: 10px;
    box-shadow: 5px 8px 10px;
    background-color: #606C38;
    padding: 20px 20px;
    margin: 30px auto;
}

.audio-container h4{
    padding: 20px 0;
    color: #FEFAE0;
}

.ondeEstamos-container{
    text-align: center;
    width: 90%;
    margin: 10px auto;
}

.ondeEstamos-title{
    color: #DDA15E;
    margin-bottom: 40px;
}

.map-container{
    padding: 30px 10px;
    background-color: #606C38;
    border-radius: 10px;
    box-shadow: 5px 8px 10px;
}

.mapa{
    margin: 0 auto;
}

.map-text{
    margin: 0 auto;
    text-align: left;
    color: #FEFAE0;
}


.contact-container{
    margin-top: 100px;
    text-align: center;
    padding: 30px 40px;
    background-color: #606C38;
    border-radius: 10px;
    box-shadow: 5px 8px 10px;
}

.contact-title h2{
    color: #DDA15E;
    font-weight: bold;
}

.contact-title p{
    color: #FEFAE0;
    font-weight: lighter
}

.contact-form{
    width: 100%;
    padding: 20px 60px;
    border: 2px solid #DDA15E;
    border-radius: 10px;
    padding:  auto 0;
}

.contact-name,
.contact-email,
.contact-message{
    margin: 10px auto;
}


.contact-form label{
        width: 100%;
        color: #FEFAE0;
        font-weight: bold;
        margin-right: 20px;
    }
    
    .contact-form .contact-inputs{
        width: 60%;
        background-color: #DDA15E;
        border: 2px solid #DDA15E;
        border-radius: 10px;
        color: #283618;
    }

    .contact-form .contact-inputs:focus{
        transform: scale(1.1);
        transition: transform 0.6s ease-in-out;
    }

    .contact-btn{
        margin-top: 10px;
        padding: 2px 8px;
        background-color: #DDA15E;
        color: #FEFAE0;
        font-weight: bold;
        border-radius: 8px;
        border: 3px solid #606C38;
        transition: transform 0.3s ease-in-out;
    }

    .contact-btn:hover {
        color: #DDA15E;
        background-color: #FEFAE0;
        border: 3px solid #606C38;
        transform: scale(1.2);
        font-weight: bolder;
    }

@media (max-width: 768px) {
    .map-text{
        font-size: 0.9em;
    }

    .contact-title p{
        font-size: 0.8em;
    }

    .contact-form{
        padding: 10px 30px;
    }

    .contact-form label{
        margin-bottom: 10px;
    }

    .contact-form .contact-inputs{
        width: 100%;
    }
}

/*Estilos Onde Estamos*/

/*Estilos projetos*/

.projetos-title{
    color: #DDA15E;
    text-align: center;
    margin-top: 50px;
}

.projects-container{
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

    .project{
        background-color: #606C38;
        margin: 40px auto;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 5px 8px 10px;
    }

        .project h2,
        .project .project-date{
            text-align: center;
            color: #DDA15E;
        }

        .project-img-container{
            height: 100%;
            text-align: center;
            max-width: 500px;
            padding: 0 20px;
        }
        
        .project-image{
            margin: 20px auto;
            border-radius: 10px;
            height: 200px;
            width: 100%;
        }

        .project-info{
            text-align: center;
            margin: 20px auto;
        }

        .project .project-description{
            color: #FEFAE0;
            margin: 20px auto;
        }

        .project .projeto-btn{
            display: inline-block;
            text-decoration: none;
            margin-top: 10px;
            padding: 2px 8px;
            background-color: #DDA15E;
            color: #FEFAE0;
            font-weight: bold;
            border-radius: 8px;
            border: 3px solid #FEFAE0;
            transition: transform 0.3s ease-in-out;
        }

        .project .projeto-btn:hover{
            margin-top: 10px;
            padding: 2px 8px;
            background-color: #606C38;
            color: #FEFAE0;
            font-weight: bold;
            border-radius: 8px;
            border: 3px solid #DDA15E;
            transform: scale(1.15);
        }

/*Estilos projetos*/
